@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');


* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(56,56,56);
  --accent-bg-color: rgb(22, 119, 148);
  --main-font-color: #222;
  --accent-font-color: rgb(22, 119, 148);
  --box-shadow: rgba(0, 0, 0, 0.3);
  --off-white: rgb(247, 248, 255);
}

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  color: var(--main-font-color);
  scroll-padding-top: 75px;
}

/* RESETS */

body {
  margin: 0;
  padding: 0;
  background: var(--main-bg-color);
  overflow-x: hidden;
}

ul {
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}


/* HEADER */

.header {
  box-shadow: 0px 0px 5px 3px var(--box-shadow);
  padding: 10px 50px;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  z-index: 100000;
}

.logo-container {
  width: 50px;
}

.logo {
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px;
}

.nav-link {
  display: block;
  color: var(--main-font-color);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0px;
  margin-left: 50px;
}

.nav-link:hover,
.nav-link:focus {
  transform: translateY(-5px);
  color: var(--accent-font-color);
  transition: ease-in-out 200ms;
}



@media (max-width: 600px) {
  .header {
    padding: 10px 2em;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: var(--main-bg-color);

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5,0,.5,1);
  }

  .nav-links {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .nav-link {
    color: var(--off-white);
    margin-left: 0;
  }

  .nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .nav-open .nav-wrapper {
    transform: translateX(0);
  }

  .nav-open  {
    position: fixed;
  }

  .nav-toggle {
    position: absolute;
  }
  
  .nav-open .hamburger {
    transform: rotate(.625turn);
  }
  
  .nav-open .hamburger::after {
    opacity: 0;
  }
  
  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
  }
  
  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    /* background: var(--clr-dark); */
    background: #222;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    top: 6px;
  }

  .hamburger::after {
    bottom: 6px;
  }
}

/* PROGRESS BAR */
progress {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  width: 100%;
  height: 5px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
}

progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: linear-gradient(to right, var(--accent-bg-color), rgb(80,80,80), rgb(65, 65, 65), rgb(36,36,36), rgb(22,22,22));
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: linear-gradient(to right, var(--accent-bg-color), rgb(80,80,80), rgb(65, 65, 65), rgb(36,36,36), rgb(22,22,22));
  background-attachment: fixed;
}

@media (max-width: 600px) {
  progress {
    display: none;
  }
}



/* HERO */

.hero {
  height: calc(100vh - 104px);
  background: linear-gradient(var(--accent-bg-color), rgb(80, 80, 80));
  display: flex;
  align-items: center;
}

.hero-wrapper {
  margin: auto;
  width: 90%;
  color: white;
  text-align: center;
}

.hero-title {
  margin: 0 0 10px;
  font-size: 2.3rem;
  overflow: hidden;
}

.hey {
  display: inline-block;
}

.hero-description {
  margin: 0 0 20px;
  font-size: 1.2rem;
  font-weight: 400;
}

.hero-link {
  text-decoration: none;
  display: inline-block;
  background: var(--off-white);
  color: var(--accent-font-color);
  text-decoration: none;
  padding: 15px 30px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  transition: 400ms ease-in-out;
}

.hero-link:hover,
.hero-link:active,
.hero-link:focus {
  color: var(--off-white);
  background: var(--accent-font-color);
}

@media (max-width: 600px) {
  .hero-title {
    font-size: 1.5rem;
  }

  .hero-subtitle {
    font-size: 1.3rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .hero-link {
    font-size: 1rem;
  }
}

/* ABOUT */
.about {
  background: linear-gradient(rgb(80, 80, 80) 60%, rgb(65, 65, 65));
  padding: 30px;
}

.about-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
  color: var(--off-white);
}


.about-title::before {
  content: ' ';
  position: absolute;
  width: 4em;
  background: linear-gradient(to right, var(--accent-bg-color), var(--main-font-color));
  height: .5em;
  bottom: 0px;
  z-index: -1;
  margin-left: 0;
}

.about-skills {
  margin-bottom: 50px;
}

.skills-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.skill i {
  font-size: 50px;
}

.html-logo {
  color: #e44d26;
}

.css-logo {
  color: #254bdd;
}

.js-logo {
  color: #efd81d;
}

.react-logo {
  color: #61dafb;
}

.autobiography {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.auto-title {
  font-size: 1.3rem;
  line-height: 1.8;
}

.auto-description {
  font-size: 1rem;
  flex-basis: 60%;
  color: var(--off-white);
  line-height: 1.7;
}

.auto-section {
  margin-bottom: 20px;
}

.auto-picture {
  flex-basis: 30%;
}

.selfie {
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .skill i {
    font-size: 3rem;
  }

  .autobiography {
    flex-direction: column;
    text-align: center;
  }
}

/* PORTFOLIO */
.portfolio {
  padding: 2em;
  background: linear-gradient(rgb(65, 65, 65), rgb(36, 36, 36));
  color: white;
}

.portfolio-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.portfolio-title::before {
  content: ' ';
  position: absolute;
  width: 3em;
  background: linear-gradient(to right, var(--accent-bg-color), var(--main-font-color));
  height: .5em;
  bottom: 0px;
  z-index: -1;
  margin-left: 0;
}

.portfolio-grid {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.grid-item {
  color: white;
  flex-basis: 30%;
  transition: 300ms ease;
  margin-bottom: 10px;
}

.grid-item:hover,
.grid-item:focus {
  transform: scale(1.04);
}

.grid-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-name {
  font-size: 1.1rem;
  text-align: center;
}

@media (max-width: 600px) {
  .grid-item {
    flex-basis: 90%;
  }
}


/* CONTACT */

.contact {
  background: linear-gradient(rgb(36,36,36), rgb(22,22,22));
  margin: 0;
  padding: 100px 30px 120px;
}

.contact-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5px;
  color: var(--off-white);
}

.contact-description {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 30px;
  color: var(--off-white);
}

.contact-highlight {
  color: rgb(252, 159, 159);
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2.5em;
  background: var(--off-white);
  border-radius: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 100%;
  border: .2px solid rgba(138, 138, 138, 0.329);
  border-radius: 5px;
  padding: .7em;
  margin-bottom: 10px;
  font-size: 1rem;
  font-family: inherit;
  transition: 500ms ease;
}

.contact-form textarea {
  width: 100%;
  border: .2px solid rgba(138, 138, 138, 0.329);
  border-radius: 5px;
  padding: .7em;
  resize: none;
  font-size: 1rem;
  font-family: inherit;
  transition: 500ms ease;
  margin-bottom: 10px;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  transform: scale(1.02);
}

.contact-btn {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  background: var(--main-bg-color);
  color: var(--off-white);
  margin: 0 auto;
  transition: 200ms ease-in-out;
}

.contact-btn:hover,
.contact-btn:focus {
  background: var(--accent-bg-color)
}

/* FOOTER */
.footer {
  padding: 1em;
  border-top: .3px solid rgb(163, 163, 163);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3); 
  background: var(--off-white);
}

.footer-wrapper {
  max-width: 300px;
  margin: 0 auto;
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.social-link {
  color: var(--main-font-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: inline-block;
  transition: ease 500ms;
}

.social-link:hover,
.social-link:active,
.social-link:focus {
  color: pink;
  transform: scale(1.4);
}

@media (max-width: 800px) {

}