@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');


* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(56,56,56);
  --accent-bg-color: rgb(22, 119, 148);
  --main-font-color: #222;
  --accent-font-color: rgb(22, 119, 148);
  --box-shadow: rgba(0, 0, 0, 0.3);
  --off-white: rgb(247, 248, 255);
}

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  color: var(--main-font-color);
  scroll-padding-top: 75px;
}

/* RESETS */

body {
  margin: 0;
  padding: 0;
  background: var(--main-bg-color);
}

ul {
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}


/* HEADER */

.header {
  box-shadow: 0px 0px 5px 3px var(--box-shadow);
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  z-index: 100000;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
}

.nav-link {
  display: block;
  color: var(--main-font-color);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0px;
}

.nav-link:hover,
.nav-link:focus {
  transform: translateY(-5px);
  color: var(--accent-font-color);
  transition: ease-in-out 200ms;
}

/* PROGRESS BAR */
progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: linear-gradient(to right, var(--accent-bg-color), rgb(80,80,80), rgb(65, 65, 65), rgb(36,36,36), rgb(22,22,22));
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: linear-gradient(to right, var(--accent-bg-color), rgb(80,80,80), rgb(65, 65, 65), rgb(36,36,36), rgb(22,22,22));
  background-attachment: fixed;
}

@media (max-width: 600px) {
  progress {
    display: none;
  }
}



/* HERO */

.hero {
  height: calc(100vh - 104px);
  background: linear-gradient(var(--accent-bg-color), rgb(80, 80, 80));
  display: flex;
  align-items: center;
}

.hero-wrapper {
  margin: auto;
  width: 90%;
  color: white;
  text-align: center;
}

.hero-title {
  margin: 0 0 10px;
  font-size: 2.3rem;
  overflow: hidden;
}

.hey {
  display: inline-block;
}

.hero-description {
  margin: 0 0 20px;
  font-size: 1.2rem;
  font-weight: 300;
}

.hero-link {
  text-decoration: none;
  display: inline-block;
  background: var(--off-white);
  color: var(--accent-font-color);
  text-decoration: none;
  padding: 15px 30px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  transition: 400ms ease-in-out;
}

.hero-link:hover,
.hero-link:active,
.hero-link:focus {
  color: var(--off-white);
  background: var(--accent-font-color);
}

@media (max-width: 600px) {
  .hero-title {
    font-size: 1.5rem;
  }

  .hero-subtitle {
    font-size: 1.3rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .hero-link {
    font-size: 1rem;
  }
}

/* ABOUT */
.about {
  background: linear-gradient(rgb(80, 80, 80) 60%, rgb(65, 65, 65));
  padding: 30px;
}

.about-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
  color: var(--off-white);
}

.about-skills {
  margin-bottom: 50px;
}

.skills-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
}

.skill i {
  font-size: 50px;
}

.html-logo {
  color: #e44d26;
}

.css-logo {
  color: #254bdd;
}

.js-logo {
  color: #efd81d;
}

.react-logo {
  color: #61dafb;
}

.autobiography {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}

.auto-title {
  font-size: 1.3rem;
  line-height: 1.8;
}

.auto-description {
  font-size: 1rem;
  flex-basis: 60%;
  color: var(--off-white);
  line-height: 1.7;
}

.auto-section {
  margin-bottom: 20px;
}

.auto-picture {
  flex-basis: 30%;
}

.selfie {
  width: 100%;
  border-radius: 5px;
}

/* PORTFOLIO */
.portfolio {
  padding: 2em;
  background: linear-gradient(rgb(65, 65, 65), rgb(36, 36, 36));
  color: white;
}

.portfolio-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: 300px 300px;
  max-width: 900px;
  margin: 0 auto;
  gap: 0 0;
}

.grid-item {
  background:rgb(35, 18, 129);
  color: white;
  transition: 300ms ease;
}

.grid-item:hover,
.grid-item:focus {
  transform: scale(1.04);
}

.grid-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-name {
  font-size: 1.1rem;
  text-align: center;
}


/* CONTACT */

.contact {
  background: linear-gradient(rgb(36,36,36), rgb(22,22,22));
  margin: 0;
  padding: 100px 30px 120px;
}

.contact-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5px;
  color: var(--off-white);
}

.contact-description {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 30px;
  color: var(--off-white);
}

.contact-highlight {
  color: rgb(252, 159, 159);
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2.5em;
  background: var(--off-white);
  border-radius: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 100%;
  border: .2px solid rgba(138, 138, 138, 0.329);
  border-radius: 5px;
  padding: .7em;
  margin-bottom: 10px;
  font-size: 1rem;
  font-family: inherit;
  transition: 500ms ease;
}

.contact-form textarea {
  width: 100%;
  border: .2px solid rgba(138, 138, 138, 0.329);
  border-radius: 5px;
  padding: .7em;
  resize: none;
  font-size: 1rem;
  font-family: inherit;
  transition: 500ms ease;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  transform: scale(1.02);
}

/* FOOTER */
.footer {
  padding: 1em;
  border-top: .3px solid rgb(163, 163, 163);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3); 
  background: var(--off-white);
}

.footer-wrapper {
  width: 300px;
  margin: 0 auto;
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.social-link {
  color: var(--accent-font-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: inline-block;
  transition: ease 500ms;
}

.social-link:hover,
.social-link:active,
.social-link:focus {
  color: pink;
  transform: scale(1.4);
}

@media (max-width: 800px) {

}